body{
	display:grid;
	grid-template-rows: auto;
	grid-template-columns:auto;
	font-family: 'Ubuntu';
	background-color:#f5f5f5;
	color:#263238;
	padding:0px 0px 50px 0px;	

}
section{
	justify-self: center;
	margin:10px 0px 0px 0px;
	width: 100%;
	max-width:650px;
	padding: 5px;	
	display:flex;
	flex-flow: column wrap;
	flex-grow:1;
}

.section-code{
	background-color:#10141c;
	color:white;
	border-radius:8px;
	padding:5px;
}

.sql-p{
	padding:1px;
}
.sql-p>span{
	display:inline-block;	
	padding-top:4px;
}

.sql-accent{
	color:#e6b450;
	font-weight:900;	
}
.sql-green{
	color:#81C784;
}
.sql-yellow{
	color:#FF8F00;
}
.sql-red{
	color:#E53935;
	font-weight:900;
	font-style:italic;
}

.sql-orange{
	color:#FF5722;
}
