<div class="row" style="height:100%!important;min-height:100%" >
	
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 center-xs mdc-elevation--z2 animated fadeIn bluegray600" style="padding-bottom:56px" >
		{% include('parts/slide-left.html.twig') %}		
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-9 start-xs animated fadeIn" style="background-color:#fafafa">
		{% include('parts/slide-right.html.twig') %}	
	</div>
	
</div>