<!DOCTYPE html>
<html lang="{{ lang }}"  translate="no" >
  <head>
    <link rel="icon" type="image/png" href="favicon.png" />    
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';" />
    <meta name="google" content="notranslate">
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="Carlos Illesca Monsalve's Curriculum Vitae describe all work I had as developer and other"  >
    {% for link in links %}
    <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
    <title>{{ profile.title }}</title>    
</head>
<body>
{% include('content.html.twig') %}
</body>
</html>