<!DOCTYPE html>
<html lang="{{ lang }}"  translate="no" >
  <head>
    <link rel="icon" type="image/svg" href="favicon.svg" />    
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;" />
    <meta name="google" content="notranslate">
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="Carlos Illesca Monsalve's Curriculum Vitae describe all work I had as developer and other"  >
    {% for link in links %}
    <link rel="stylesheet" href="{{ link }}">
    {% endfor %}
    <title>{{ profile.title }}</title>    
</head>
<body class="animate__animated animate__fadeIn">
{% include('content.html.twig') %}
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>